{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}
<section>
    <div class="landing-fyt-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12 landing-fyt text-center">
                    <p> <span class="landing-t">F </span><span class="landing-t">Y </span><span class="landing-t">T
                        </span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center landing-fyt-p">
                    <p>Find. Your. Triumph.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="landing-icon-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12 landing-icon-header text-center">
                    <p>Powerful and highly interactive</p>
                </div>
            </div>
            <div class="row">

                <div class="col-md-1 landing-icon-header text-center">

                    <i class="fas fa-rocket landing-icon"></i>
                </div>
                <div class="col-md-11">
                    <p class="landing-icon-p">Fast results</p>
                </div>

            </div>
            <div class="row">

                <div class="col-md-2 landing-icon-header text-center">

                    <i class="fas fa-users landing-icon"></i>
                </div>
                <div class="col-md-10">
                    <p class="landing-icon-p">Workout plans for every age group</p>
                </div>

            </div>
            <div class="row">

                <div class="col-md-3 landing-icon-header text-center">

                    <i class="fas fa-apple-alt landing-icon"></i>
                </div>
                <div class="col-md-9">
                    <p class="landing-icon-p">Nutrition panel to track your calories.</p>
                </div>

            </div>
            <div class="row">

                <div class="col-md-4 landing-icon-header text-center">


                    <i class="fas fa-user-shield landing-icon"></i>
                </div>
                <div class="col-md-8">
                    <p class="landing-icon-p">Secure admin panel to control your data.</p>
                </div>

            </div>

        </div>
    </div>
</section>
<section>
    <div class="landing-review-row examples-row">
        <div class="container">
            <div class="row">
                <div class="col-md-12 landing-icon-header text-center">
                    <p>Everything you would expect</p>
                </div>
            </div>
            <div class="row ">
                <div class="col-lg-4 col-sm-12  mt-5 ">
                    <div class="lan-p sameHeight landing-workout-card p-2 pb-4">
                        <h5>Legs Day</h5>
                        <label>Exercise</label> <br>
                        <input class="landing-input" type="text" placeholder="Squats"> Sets : <input
                            class="landing-input-setrep" type="text" placeholder="3">
                        Reps : <input class="landing-input-setrep" type="text" placeholder="4">
                        <label>Exercise</label> <br>
                        <input class="landing-input" type="text" placeholder="Leg Curl"> Sets : <input
                            class="landing-input-setrep" type="text" placeholder="4">
                        Reps : <input class="landing-input-setrep" type="text" placeholder="5">
                        <label>Exercise</label> <br>
                        <input class="landing-input" type="text" placeholder="Deadlift"> Sets : <input
                            class="landing-input-setrep" type="text" placeholder="3">
                        Reps : <input class="landing-input-setrep" type="text" placeholder="8">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 mt-5">
                    <div class="landing-workout-card sameHeight lan-p p-2 pb-4">
                        <h5>Chest Day</h5>
                        <label>Exercise</label> <br>
                        <input class="landing-input" type="text" placeholder="Flat Bench"> Sets : <input
                            class="landing-input-setrep" type="text" placeholder="3">
                        Reps : <input class="landing-input-setrep" type="text" placeholder="8">
                        <label>Exercise</label> <br>
                        <input class="landing-input" type="text" placeholder="Incline Bench"> Sets : <input
                            class="landing-input-setrep" type="text" placeholder="4">
                        Reps : <input class="landing-input-setrep" type="text" placeholder="5">
                        <label>Exercise</label> <br>
                        <input class="landing-input" type="text" placeholder="Decline Bench"> Sets : <input
                            class="landing-input-setrep" type="text" placeholder="3">
                        Reps : <input class="landing-input-setrep" type="text" placeholder="8">
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 sameHeight mt-5">
                    <div class="landing-workout-card sameHeight lan-p p-2 pb-4">
                        <h5>Chest Day</h5>
                        <div class="bench ">
                            <h5>Flat Bench Press</h5>
                            <p>3 x 8</p>
                        </div>
                        <div class="bench ">
                            <h5>Incline Bench Press</h5>
                            <p>4 x 5</p>
                        </div>
                        <div class="bench ">
                            <h5>Decline Bench Press</h5>
                            <p>3 x 8</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="page-footer font-small landing-footer">

    <!-- Footer Links -->
    <div class="container">
        <div class="row text-center d-flex justify-content-center pt-5 mb-3 footer-txt">
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'about' %}">About Us</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'login' %}">Login</a>
                </h6>
            </div>
            <div class="col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="{% url 'register' %}">Sign Up</a>
                </h6>
            </div>
        </div>
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <div class="newsletter" id="mc_embed_signup">
            <form
                action="https://gmail.us3.list-manage.com/subscribe/post?u=a15f8335f8224a34ef0408b19&amp;id=cdcc357511"
                method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                target="_blank" novalidate>
                <div class="newsletter" id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">
                        <p><i class="far fa-paper-plane"></i> Subscribe to our monthly newsletter</p>
                    </label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_a15f8335f8224a34ef0408b19_cdcc357511" tabindex="-1" value="">
                    </div>
                    <div class="clear newsletter-go"><input type="submit" value="Subscribe" name="subscribe"
                            id="mc-embedded-subscribe" class="button">
                    </div>
                </div>
            </form>
        </div>
        <!--End mc_embed_signup-->

        <hr class="rgba-white-light mt-5" style="margin: 0 15%;">
    </div>
    <div class="text-center py-3">© 2019 FYT All rights reserved</div>



</footer>
<!-- Footer -->


{% endblock %}