{% extends 'base.html'%}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 sameHeight workout-card m-auto mt-5">
            <div class="workout-submited-by">{{workout.user.username}}</div>

            <h5>{{ workout.workout_name}}</h5>
            {% for exercise in workout.exercises.all %}
            <div class="bench">
                <h5>{{exercise.exercise_name_1 }}</h5>
                <p>Sets : {{exercise.sets_1 }} Reps : {{exercise.reps_1 }}</p>
            </div>
            <div class="bench">
                <h5>{{exercise.exercise_name_2 }}</h5>
                <p>Sets : {{exercise.sets_2 }} Reps : {{exercise.reps_2 }}</p>
            </div>
            <div class="bench">
                <h5>{{exercise.exercise_name_3 }}</h5>
                <p>Sets : {{exercise.sets_3 }} Reps : {{exercise.reps_3 }}</p>
            </div>
            {% endfor %}
            <a class="waves-effect waves-light btn like-button" data-id="{{workout.id}}">
                <i class="far fa-heart"></i> {% if workout.likes > 0 %} {{ workout.likes }} {% else %} {% endif %}
            </a>
        </div>
    </div>
</div>


{% endblock %}