{% extends 'base.html' %}


{% block content %}
  


<div class="container mt-5">
  <div class="row">
    {% for workout in workouts %}
      <div class="col-md-3 workout-card">
          <div class="workout-submited-by">{{workout.user.username}}</div> 
          <a href="{% url 'workout_detail' pk=workout.pk %}">
            <ul>
              <h2><li>{{ workout.workout_name }}</li></h2> 
              <h5><li>{{ workout.exercise_name_1 }}</li></h5> 
              <li>Sets : {{ workout.sets_exercise_1 }}</li>
              <li>Reps : {{ workout.reps_exercise_1 }}</li>
              <h5><li>{{ workout.exercise_name_2 }}</li></h5> 
              <li>Sets : {{ workout.sets_exercise_2 }}</li>
              <li>Reps :{{ workout.reps_exercise_2 }}</li>
              <h5><li>{{ workout.exercise_name_3 }}</li></h5> 
              <li>Sets : {{ workout.sets_exercise_3 }}</li>
              <li>Reps : {{ workout.reps_exercise_3 }}</li>
              <h5><li>{{ workout.exercise_name_4 }}</li></h5> 
              <li>Sets: {{ workout.sets_exercise_4 }}</li>
              <li>Reps : {{ workout.reps_exercise_4 }}</li>
            </ul>
          </a>
          <a class="waves-effect waves-light btn like-button" data-id="{{workout.id}}">
              <i class="far fa-heart"></i> {% if workout.likes > 0 %} {{ workout.likes }} {% else %} {% endif %}
            </a>
      </div>

{% endfor %}

    
    
{% endblock %}