{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <form method="GET">
        <input type="text" name="q" value="{{request.GET.q}}" id="id_q" placeholder="Search...">
        <button id="submit" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center workout-add">
      <a href="{% url 'workout_create' %}">Add a workout</a>
    </div>
  </div>

  {% if workouts %}

  <div class="row justify-content-center ">
    {% for workout in workouts %}
    <div class="col-md-3 sameHeight workout-card">
      <div class="workout-submited-by">{{workout.user.username}}</div>
      <a href="{% url 'workout_detail' pk=workout.pk %}">
        <h5>{{ workout.workout_name}}</h5>
        <div class="bench">
          <h5>{{ workout.exercises.exercise_name }}</h5>
          <p>Sets : {{ workout.exercises.sets }} Reps : {{ workout.exercises.reps }}</p>
        </div>
      </a>

      <a class="waves-effect waves-light btn like-button" data-id="{{workout.id}}">
        <i class="far fa-heart"></i> {% if workout.likes > 0 %} {{ workout.likes }} {% else %} {% endif %}
      </a>
    </div>
    {% endfor %}
  </div>
  {% else %}

  <div class="row">
    <div class="card m-auto">
      <div class="card-body mt-2 mb-2">
        <h2 class="card-title">
          No Results
        </h2>
        <p class="card-text ">
          There were no results matching your search: "{{query}}".
        </p>
      </div>
    </div>
  </div>


  {% endif %}

</div>


<script type="text/javascript">
  document.getElementById("id_q").value = "{{query}}"
  document.getElementById("submit").addEventListener("click", function () {
    console.log(id_q.value)
  });
</script>

{% endblock %}